.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #89a4db;
  min-height: 100vh;
  display: flex;
  flex-direction: unset;
  align-items: start;
  justify-content: start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* .App-boton {
  color: #000000;
  background-color: #E4E4E4;
} */

.App-boton {
  background-color: #e4e4e4;
  border: 2px solid #000000;
  border-radius: 12px;
  color: #000000;
  padding: 8px 20px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.App-boton.buttonEqual {
  background-color: #4285f4;
}

.App-boton.buttonSign {
  background-color: #acacac;
}

.App-boton:active {
  background-color: #bdbdbd;
  transform: translateY(1px);
}

.App-input {
  background-color: #ceffc4;
}